In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, time

In [2]:
def time_of_day(i):
    if (i > time(hour=6)) &  (i < time(hour=11,minute=59,second=59)):
        return 'Morning'
    elif (i > time(hour=12)) &  (i < time(hour=17,minute=59,second=59)):
        return 'Afternoon'
    elif (i > time(hour=18)) &  (i < time(hour=23,minute=59,second=59)):
        return 'Evening'
    else:
        return 'Night'

In [ ]:
dataLinks= ["https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/f2933501-0373-4734-b50c-4e4f39646180/resource/232e6023-0688-4d5f-aaf3-c92edd08cf1b/download/precipitation-data-2019.csv", 
            "https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/f2933501-0373-4734-b50c-4e4f39646180/resource/2a444824-7cf3-4ff7-aa19-6e434c35c7e9/download/precipitation-data-2020.csv"]

In [ ]:
dfsPrecipitation=[[],[]]
for link in dataLinks:
    dfsPrecipitation[i] = pd.read_csv(link)

In [3]:
def compress_precip_data(df):
    data=df.copy()
    data['date_converted']=[datetime.strptime(d, '%Y-%m-%dT%H:%M:%S') for d in data['date']]
    data['actual_date']=[d.date() for d in data['date_converted']]
    data['actual_time']=[d.time() for d in data['date_converted']]
    data['week']=[d.strftime("%W") for d in data['actual_date']]
    data['year']=[d.year for d in data['actual_date']]
    data['month']=[d.month for d in data['actual_date']]
    data['day']=[d.day for d in data['actual_date']]
    data['time_of_day']=[time_of_day(d) for d in data['actual_time']]
    data['hour']=[d.hour for d in data['actual_time']]
    data.drop(['date','date_converted','actual_date','actual_time'],axis=1,inplace=True)
    grouped=pd.DataFrame(data.groupby(['year','month','day','hour','time_of_day','week'],as_index=False)['rainfall'].sum())
    return(grouped)

In [4]:
result=compress_precip_data(dfsPrecipitation[0])

In [5]:
result

      year  month  day  hour time_of_day week  rainfall
0     2020      1    1     0       Night   00     0.000
1     2020      1    1     1       Night   00     0.000
2     2020      1    1     2       Night   00     0.000
3     2020      1    1     3       Night   00     1.969
4     2020      1    1     4       Night   00     2.006
...    ...    ...  ...   ...         ...  ...       ...
9877  2020     12   31    19     Evening   52     0.000
9878  2020     12   31    20     Evening   52     0.000
9879  2020     12   31    21     Evening   52     0.000
9880  2020     12   31    22     Evening   52     0.000
9881  2020     12   31    23     Evening   52     0.000

[9882 rows x 7 columns]

In [76]:
result2020=compress_precip_data(dfsPrecipitation[1])

In [77]:
result2020

      year  month  day time_of_day week  rainfall
0     2020      1    1   Afternoon   00     0.000
1     2020      1    1     Evening   00     0.000
2     2020      1    1     Morning   00     0.699
3     2020      1    1       Night   00     4.116
4     2020      1    2   Afternoon   00     0.000
...    ...    ...  ...         ...  ...       ...
1459  2020     12   30       Night   52    68.174
1460  2020     12   31   Afternoon   52     0.000
1461  2020     12   31     Evening   52     0.000
1462  2020     12   31     Morning   52     0.000
1463  2020     12   31       Night   52     0.000

[1464 rows x 6 columns]